.careers-detail{
	.sticky-top{
		top: 30px;
	}
	.-title{
		background-color: #384C62;
		position: relative;
		z-index: 1;
		overflow: hidden;
		&:before {
			position: absolute;
		    content: "";
		    z-index: -1;
		    top: 100%;
		    left: 0;
		    height: 100%;
		    width: 100%;
		    transition: all .6s ease;
		    background-size: 101% 101%;
		    background-color: $ac_a;
		}
		.-svg {
			svg {
				width: 51px;
				height: 51px;
				path {
					fill: $ac_white;
				}
			}
		}
		&:hover {
			&:before {
				top: 0;
			}
		}
	}
}