.imghvr-effect{
    .imghvr-img{
        &:before, &:after{
            position: absolute;
            content: '';
            z-index: 1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            @extend .#{$ccss}-ti-05;
        }
    }
}