$imghvr_bg_color: rgba($ac_black, 0.5);
.imghvr-effect{
    .imghvr-img{
        @include css3-prefix ('perspective', '50em');
        &:before{
            @include css3-prefix ('transform', 'rotate3d(1, -1, 0, 100deg)');
        }
    }
    &:hover{
        .imghvr-img{
            &:before{
                opacity: 1;
                background-color: $imghvr_bg_color;
                @include css3-prefix ('transform', 'rotate3d(0, 0, 0, 0deg)');
            }
        }
    }
}