/* Flaticon icon font: Flaticon Creation date: 20/02/2019 06:30   */

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

.fi:before{
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-search:before { content: "\f100"; }
.flaticon-left-arrow:before { content: "\f101"; }
.flaticon-right-arrow:before { content: "\f102"; }
.flaticon-pdf-file:before { content: "\f103"; }
.flaticon-facebook-icon:before { content: "\f104"; }
.flaticon-right:before { content: "\f105"; }
.flaticon-youtube-icon:before { content: "\f106"; }
.flaticon-clock-circular-outline:before { content: "\f107"; }
.flaticon-doc-file:before { content: "\f108"; }
.flaticon-home-icon:before { content: "\f109"; }
.flaticon-twitter-social-outlined-logo:before { content: "\f10a"; }
.flaticon-play-button:before { content: "\f10b"; }
.flaticon-mail:before { content: "\f10c"; }
.flaticon-comments:before { content: "\f10d"; }
.flaticon-danger:before { content: "\f10e"; }
.flaticon-caret-down:before { content: "\f10f"; }
.flaticon-placeholder:before { content: "\f110"; }
.flaticon-share-1:before { content: "\f111"; }
.flaticon-share:before { content: "\f112"; }
.flaticon-calendar:before { content: "\f113"; }
.flaticon-close:before { content: "\f114"; }
.flaticon-cancel:before { content: "\f115"; }
.flaticon-list:before { content: "\f116"; }
.flaticon-xlsx-file-format-extension:before { content: "\f117"; }
.flaticon-xls-file:before { content: "\f118"; }
.flaticon-txt-file-symbol:before { content: "\f119"; }
.flaticon-ppt:before { content: "\f11a"; }
.flaticon-rar-file-format:before { content: "\f11b"; }
.flaticon-zip-file-format:before { content: "\f11c"; }
.flaticon-excel-file:before { content: "\f11d"; }
    
$font-Flaticon-search: "\f100";
$font-Flaticon-left-arrow: "\f101";
$font-Flaticon-right-arrow: "\f102";
$font-Flaticon-pdf-file: "\f103";
$font-Flaticon-facebook-icon: "\f104";
$font-Flaticon-right: "\f105";
$font-Flaticon-youtube-icon: "\f106";
$font-Flaticon-clock-circular-outline: "\f107";
$font-Flaticon-doc-file: "\f108";
$font-Flaticon-home-icon: "\f109";
$font-Flaticon-twitter-social-outlined-logo: "\f10a";
$font-Flaticon-play-button: "\f10b";
$font-Flaticon-mail: "\f10c";
$font-Flaticon-comments: "\f10d";
$font-Flaticon-danger: "\f10e";
$font-Flaticon-caret-down: "\f10f";
$font-Flaticon-placeholder: "\f110";
$font-Flaticon-share-1: "\f111";
$font-Flaticon-share: "\f112";
$font-Flaticon-calendar: "\f113";
$font-Flaticon-close: "\f114";
$font-Flaticon-cancel: "\f115";
$font-Flaticon-list: "\f116";
$font-Flaticon-xlsx-file-format-extension: "\f117";
$font-Flaticon-xls-file: "\f118";
$font-Flaticon-txt-file-symbol: "\f119";
$font-Flaticon-ppt: "\f11a";
$font-Flaticon-rar-file-format: "\f11b";
$font-Flaticon-zip-file-format: "\f11c";
$font-Flaticon-excel-file: "\f11d";