/*  Material Color Generator: http://mcg.mbitson.com/ */

$ac_white: 				#FFFFFF !default;
$ac_black: 				#000000 !default;
$ac_red: 				#FF0000 !default;
$ac_gray: 				#1e1e1e !default;
$ac_success: 			#28C76F !default;
$ac_m: 					#333333 !default;

$ac_a: 					#8B226C;
$ac_b: 					#692558;
$ac_c: 					#2b2b2b;