$ac: 'ac';

//$ac_ff_one:						'Montserrat', sans-serif;
$ac_ff_one:                     'Montserrat', sans-serif;
$ac_ff_two:						'Gill Sans Nova';
$ac_ff_three:					'';

$ac_fs_base: 					16px;

$ac_fs_h1: 						36px;
$ac_fs_h2: 						20px;
$ac_fs_h3: 						18px;
$ac_fs_h4: 						16px;
$ac_fs_h5: 						14px;
$ac_fs_h6: 						12px;

$ac_fs_34:                      34px;
$ac_fs_28:                      28px;
$ac_fs_24:                      24px;
$ac_fs_20:                      20px;

$ac_fs_h6:                      12px;

$ac_lh_base:					150%;

$ac_fw_t:						100;
$ac_fw_el:						200;
$ac_fw_l:						300;
$ac_fw_r:						400;
$ac_fw_m:						500;
$ac_fw_sb:						600;
$ac_fw_b:						700;
$ac_fw_eb:						800;
$ac_fw_bl:						900;

$ac-image: "../images/" !default;