@media print {
    .p-none, header, footer, aside, form, .share-func, #inner-banner, #back-top, .pagination, .left-panel, .ac-tabs, .ac-collapse .-li .-tabs span  {
        display: none !important;
    }
    .tab-content>.tab-pane, .collapse:not(.show) {
        display: block !important;
        opacity: 1 !important;
    }
    a:after {
        //content: "("attr(href)")";
    }
    a {
        text-decoration: none !important;
    }
    article {
        width:100%!important;
        padding:0!important;
        margin:0!important;
        border: 1px solid #ccc;
    }
    .cms ul li {
	    list-style: disc outside none;
	    display: list-item;
	    margin-left: 30px;
    }
    table, td, th {
        border: 1px solid #ccc !important;
    }

    .ac-collapse .-li .-tabs {
        color: #000 !important;
    }
    .ac-collapse .-li .-info {
        padding: 0 0 20px 20px !important;
    }

    .ac-btn, .ac-small {
        padding: 5px 20px !important;
        background-color: #000 !important;
        -webkit-print-color-adjust: exact; 
    }

    .inner-page-gap {
        padding-top: 15px !important;
    }

    .directors-listing {
        .-items {
            width: 100%;
            border: 1px solid #ccc !important;
        }
        .col-xl-5{
            float: left;
            width: 40%;
        }
        .-bg {
            float: left;
            width: 60%;
        }
        .d-none {
            display: block !important;
        }
    }

    .directors-detail, .news-detail {
        .-img {
            margin: 0 45px 30px 0;
            width: 40% !important;
        }
    }

    .news-detail {
        .cms ul li {
            width: 100%;
            flex: 0 0 100%;
        }
    }

    .documents {
        .-doct-img {
            display: none !important;
        }
    }

    .news-listing {
        .gap{
            float: left;
            width: 50%;
        }
        .-items {
            padding: 15px !important;
        }
        .cms {
            min-height: auto;
        }
        .-download {
            display: none !important;
        }
    }

    .careers-listing {
        .col-lg-5 {
            width: 50%;
            float: left;
        }
    }
}
@page {
  margin: 2cm;
}
@page:first {
    margin: 0cm;
}
@page:last {
    margin: 5cm;
}
@page:left {
    margin: 2cm 1.5cm 2cm 2cm;
}
@page:right {
    margin: 2cm 2cm 2cm 1.5cm;
}