/* Pagination S */
    .pagination {
        .page-item {
            margin-right: 25px;
            @media (max-width: 480px){
                margin-right: 15px;
            }
            position: relative;
            &:first-child{
                align-items: center;
                display: flex;
                &:before {
                    display: none;
                }
                .page-link {
                    width: auto;
                    height: auto;
                    .s-pagination{
                        @include css3-prefix('transform', rotate(180deg));
                    }
                }
            }
            &:last-child{
                align-items: center;
                display: flex;
                margin-right: 0;
                @media (max-width: 480px){
                    margin-right: 0;
                }
                &:before {
                    display: none;
                }
                .page-link {
                    width: auto;
                    height: auto;
                }
            }
            &:before {
                position: absolute;
                content: "";
                background-color: $ac_white;
                @include css3-prefix('box-shadow', 0px 3px 7px rgba($ac_black, 0.29));
                border-radius: 5px;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                @include css3-prefix('transform', rotate(45deg));
            }
            .page-link {
                border: none;
                background-color: transparent;
                font-size: 20px;
                font-weight: 600;
                color: $ac_black;
                line-height: 80%;
                align-items: center;
                display: flex;
                justify-content: center;
                flex-wrap: nowrap;
                width: 38px;
                height: 38px;
                padding: 0;
                box-shadow: none;
                outline: none;
                @media (max-width: 480px){
                    width: 28px;
                    height: 28px;
                    font-size: 16px;
                }
                .s-pagination{
                    width: 34px;
                    height: 16px;
                }
            }
            &:hover{
                &:before {
                    border: 2px solid $ac_b;
                }
                .s-pagination{
                    path {
                        fill: $ac_b;
                    }
                }
            }
            &.active {
                &:before {
                    border: 2px solid $ac_b;
                }
                .page-link {
                    color: $ac_black;
                    background-color: transparent;
                }
            }
        }
    }
/* Pagination E */