/* COL CSS Class S */
    @media (max-width: 480px){
        .col-xss-1, .col-xss-2, .col-xss-3, .col-xss-4, .col-xss-5, .col-xss-6, .col-xss-7, .col-xss-8, .col-xss-9, .col-xss-10, .col-xss-11, .col-xss-12 {
            float: left;
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }

        .col-xss-12 {
            width: 100%;
        }

        .col-xss-11 {
            width: 91.66666667%;
        }

        .col-xss-10 {
            width: 83.33333333%;
        }

        .col-xss-9 {
            width: 75%;
        }

        .col-xss-8 {
            width: 66.66666667%;
        }

        .col-xss-7 {
            width: 58.33333333%;
        }

        .col-xss-6 {
            width: 50%;
        }

        .col-xss-5 {
            width: 41.66666667%;
        }

        .col-xss-4 {
            width: 33.33333333%;
        }

        .col-xss-3 {
            width: 25%;
        }

        .col-xss-2 {
            width: 16.66666667%;
        }

        .col-xss-1 {
            width: 8.33333333%;
        }

        .col-xss-pull-12 {
            right: 100%;
        }

        .col-xss-pull-11 {
            right: 91.66666667%;
        }

        .col-xss-pull-10 {
            right: 83.33333333%;
        }

        .col-xss-pull-9 {
            right: 75%;
        }

        .col-xss-pull-8 {
            right: 66.66666667%;
        }

        .col-xss-pull-7 {
            right: 58.33333333%;
        }

        .col-xss-pull-6 {
            right: 50%;
        }

        .col-xss-pull-5 {
            right: 41.66666667%;
        }

        .col-xss-pull-4 {
            right: 33.33333333%;
        }

        .col-xss-pull-3 {
            right: 25%;
        }

        .col-xss-pull-2 {
            right: 16.66666667%;
        }

        .col-xss-pull-1 {
            right: 8.33333333%;
        }

        .col-xss-pull-0 {
            right: auto;
        }

        .col-xss-push-12 {
            left: 100%;
        }

        .col-xss-push-11 {
            left: 91.66666667%;
        }

        .col-xss-push-10 {
            left: 83.33333333%;
        }

        .col-xss-push-9 {
            left: 75%;
        }

        .col-xss-push-8 {
            left: 66.66666667%;
        }

        .col-xss-push-7 {
            left: 58.33333333%;
        }

        .col-xss-push-6 {
            left: 50%;
        }

        .col-xss-push-5 {
            left: 41.66666667%;
        }

        .col-xss-push-4 {
            left: 33.33333333%;
        }

        .col-xss-push-3 {
            left: 25%;
        }

        .col-xss-push-2 {
            left: 16.66666667%;
        }

        .col-xss-push-1 {
            left: 8.33333333%;
        }

        .col-xss-push-0 {
            left: auto;
        }

        .col-xss-offset-12 {
            margin-left: 100%;
        }

        .col-xss-offset-11 {
            margin-left: 91.66666667%;
        }

        .col-xss-offset-10 {
            margin-left: 83.33333333%;
        }

        .col-xss-offset-9 {
            margin-left: 75%;
        }

        .col-xss-offset-8 {
            margin-left: 66.66666667%;
        }

        .col-xss-offset-7 {
            margin-left: 58.33333333%;
        }

        .col-xss-offset-6 {
            margin-left: 50%;
        }

        .col-xss-offset-5 {
            margin-left: 41.66666667%;
        }

        .col-xss-offset-4 {
            margin-left: 33.33333333%;
        }

        .col-xss-offset-3 {
            margin-left: 25%;
        }

        .col-xss-offset-2 {
            margin-left: 16.66666667%;
        }

        .col-xss-offset-1 {
            margin-left: 8.33333333%;
        }

        .col-xss-offset-0 {
            margin-left: 0;
        }
    }

    @media (min-width: 1280px){
        .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
            float: left;
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }

        .col-xl-12 {
            width: 100%;
        }

        .col-xl-11 {
            width: 91.66666667%;
        }

        .col-xl-10 {
            width: 83.33333333%;
        }

        .col-xl-9 {
            width: 75%;
        }

        .col-xl-8 {
            width: 66.66666667%;
        }

        .col-xl-7 {
            width: 58.33333333%;
        }

        .col-xl-6 {
            width: 50%;
        }

        .col-xl-5 {
            width: 41.66666667%;
        }

        .col-xl-4 {
            width: 33.33333333%;
        }

        .col-xl-3 {
            width: 25%;
        }

        .col-xl-2 {
            width: 16.66666667%;
        }

        .col-xl-1 {
            width: 8.33333333%;
        }

        .col-xl-pull-12 {
            right: 100%;
        }

        .col-xl-pull-11 {
            right: 91.66666667%;
        }

        .col-xl-pull-10 {
            right: 83.33333333%;
        }

        .col-xl-pull-9 {
            right: 75%;
        }

        .col-xl-pull-8 {
            right: 66.66666667%;
        }

        .col-xl-pull-7 {
            right: 58.33333333%;
        }

        .col-xl-pull-6 {
            right: 50%;
        }

        .col-xl-pull-5 {
            right: 41.66666667%;
        }

        .col-xl-pull-4 {
            right: 33.33333333%;
        }

        .col-xl-pull-3 {
            right: 25%;
        }

        .col-xl-pull-2 {
            right: 16.66666667%;
        }

        .col-xl-pull-1 {
            right: 8.33333333%;
        }

        .col-xl-pull-0 {
            right: auto;
        }

        .col-xl-push-12 {
            left: 100%;
        }

        .col-xl-push-11 {
            left: 91.66666667%;
        }

        .col-xl-push-10 {
            left: 83.33333333%;
        }

        .col-xl-push-9 {
            left: 75%;
        }

        .col-xl-push-8 {
            left: 66.66666667%;
        }

        .col-xl-push-7 {
            left: 58.33333333%;
        }

        .col-xl-push-6 {
            left: 50%;
        }

        .col-xl-push-5 {
            left: 41.66666667%;
        }

        .col-xl-push-4 {
            left: 33.33333333%;
        }

        .col-xl-push-3 {
            left: 25%;
        }

        .col-xl-push-2 {
            left: 16.66666667%;
        }

        .col-xl-push-1 {
            left: 8.33333333%;
        }

        .col-xl-push-0 {
            left: auto;
        }

        .col-xl-offset-12 {
            margin-left: 100%;
        }

        .col-xl-offset-11 {
            margin-left: 91.66666667%;
        }

        .col-xl-offset-10 {
            margin-left: 83.33333333%;
        }

        .col-xl-offset-9 {
            margin-left: 75%;
        }

        .col-xl-offset-8 {
            margin-left: 66.66666667%;
        }

        .col-xl-offset-7 {
            margin-left: 58.33333333%;
        }

        .col-xl-offset-6 {
            margin-left: 50%;
        }

        .col-xl-offset-5 {
            margin-left: 41.66666667%;
        }

        .col-xl-offset-4 {
            margin-left: 33.33333333%;
        }

        .col-xl-offset-3 {
            margin-left: 25%;
        }

        .col-xl-offset-2 {
            margin-left: 16.66666667%;
        }

        .col-xl-offset-1 {
            margin-left: 8.33333333%;
        }

        .col-xl-offset-0 {
            margin-left: 0;
        }
    }
/* COL CSS Class E */

/* Font Family Class S */
    .#{$ac}-ff-one{
        font-family: $ac_ff_one !important;
    }
    .#{$ac}-ff-two{
        font-family: $ac_ff_two !important;
    }
    .#{$ac}-ff-three{
        font-family: $ac_ff_three !important;
    }
/* Font Family Class S */

/* Font Weight Class S */
    .#{$ac}-fw-t{
        font-weight: $ac_fw_t !important;
    }
    .#{$ac}-fw-el{
        font-weight: $ac_fw_el !important;
    }
    .#{$ac}-fw-l{
        font-weight: $ac_fw_l !important;
    }
    .#{$ac}-fw-r{
        font-weight: $ac_fw_r !important;
    }
    .#{$ac}-fw-m{
        font-weight: $ac_fw_m !important;
    }
    .#{$ac}-fw-sb{
        font-weight: $ac_fw_sb !important;
    }
    .#{$ac}-fw-b{
        font-weight: $ac_fw_b !important;
    }
    .#{$ac}-fw-eb{
        font-weight: $ac_fw_eb !important;
    }
/* Font Weight Class E */

/* Clear Both Class S */
    $clear_number: (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20);
    $clear_both: ('both');

    @media (max-width: 480px){
        @each $clear_no in $clear_number {
            @each $clear in $clear_both {
                .#{$ac}-clear-xss-#{$clear_no} {
                    .#{$ac}-clear{
                        &:nth-child(#{$clear_no}#{n}+1){
                            clear: #{$clear} !important;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 480px){
        @each $clear_no in $clear_number {
            @each $clear in $clear_both {
                .#{$ac}-clear-xs-#{$clear_no} {
                    .#{$ac}-clear{
                        &:nth-child(#{$clear_no}#{n}+1) {
                            clear: #{$clear} !important;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 768px){
        @each $clear_no in $clear_number {
            @each $clear in $clear_both {
                .#{$ac}-clear-sm-#{$clear_no} {
                    .#{$ac}-clear{
                        &:nth-child(#{$clear_no}#{n}+1){
                            clear: #{$clear} !important;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 992px){
        @each $clear_no in $clear_number {
            @each $clear in $clear_both {
                .#{$ac}-clear-md-#{$clear_no} {
                    .#{$ac}-clear{
                        &:nth-child(#{$clear_no}#{n}+1){
                            clear: #{$clear} !important;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 1200px) {
        @each $clear_no in $clear_number {
            @each $clear in $clear_both {
                .#{$ac}-clear-lg-#{$clear_no} {
                    .#{$ac}-clear{
                        &:nth-child(#{$clear_no}#{n}+1){
                            clear: #{$clear} !important;
                        }
                    }
                }
            }
        }
    }
/* Clear Both Class E */

/* Row with Equal Height Columns S */
    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
/* Row with Equal Height Columns E */

$ac_color_class: 'true';     // 'true' | 'false'

@if $ac_color_class == 'true' {
    /* White Color S */
        .#{$ac}-white{
            color: $ac_white !important;
        }
    /* White Color E */

    /* Black Color S */
        .#{$ac}-black{
            color: $ac_black !important;
        }
    /* Black Color E */

    /* Red Color S */
        .#{$ac}-red{
            color: $ac_red !important;
        }
    /* Red Color E */

    /* M Color S */
        .#{$ac}-m{
            color: $ac_m !important;
        }
    /* M Color E */

    /* A Color S */
        .#{$ac}-a{
            color: $ac_a !important;
        }
    /* A Color E */

    /* B Color S */
        .#{$ac}-b{
            color: $ac_b !important;
        }
    /* B Color E */
}