.left-panel{
    @media (min-width: 1025px){
        background-image: url('../images/box-shadow.png');
        background-repeat: no-repeat;
        background-position: right 15px top;
    }
    .lp-title {
        padding-left: 65px;
        position: relative;
        color: $ac_b;
        @media (max-width: 1366px){
            font-size: em(18)
        }
        @media (max-width: 1024px){
            padding-left: 30px;
        }
        &:before{
            position: absolute;
            content: '';
            left: 0;
            top: 13px;
            height: 2px;
            width: 55px;
            background-color: $ac_b;
            @media (max-width: 1366px){
                top: 10px;
            }
            @media (max-width: 1024px){
                width: 20px;
            }
        }
    }

    .s-category {
        margin-left: -15px;
        margin-right: -15px;
        li {
            width: 33.33%;
            flex: 0 0 33.33%;
            padding-right: 15px;
            padding-left: 15px;
            &:nth-child(n+4) {
                margin-top: 17px;
            }
            @media (max-width: 1366px){
                width: 50%;
                flex: 0 0 50%;
                &:nth-child(n+3) {
                    margin-top: 17px;
                }
            }            
            a{
                position: relative;
                z-index: 1;
                padding: 11px 15px;
                display: block;
                background-color: rgba($ac_black, 0.07);
                text-align: center;
                &:before, &.active:before{
                    position: absolute;
                    z-index: -1;
                    content: '';
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 2px;
                    @include css3-prefix ('background', linear-gradient(90deg, $ac_b 0,$ac_a 100%));
                    @include css3-prefix ('transition', '#{$ac_3_ti}');
                }
                &.active {
                    color: $ac_white;
                    &:before{
                        width: 100%;
                    }
                }
                &:hover{
                    color: $ac_white;
                    &:before{
                        width: 100%;
                    }
                }
            }
        }
    }

    .s-years {
        margin-left: 65px;
        @media (max-width: 1024px){
            margin-left: 30px;
        }
        ul{
            max-width: 210px;
            @media (max-width: 992px) and (min-width: 480px){
                max-width: 100%;
            }
            margin-left: -15px;
            margin-right: -15px;
            li {
                width: 50%;
                flex: 0 0 50%;
                padding-right: 15px;
                padding-left: 15px;
                &:nth-child(n+3) {
                    margin-top: 17px;
                }
                /* @media (max-width: 992px) and (min-width: 480px){
                    width: 20%;
                    flex: 0 0 20%;
                    &:nth-child(n+3) {
                        margin-top: 0;
                    }
                    &:nth-child(n+6) {
                        margin-top: 17px;
                    }
                } */
            }
        }
    }

    .s-list {
        margin-left: 65px;
        @media (max-width: 1024px){
            margin-left: 30px;
        }
        ul{
            margin-left: -15px;
            margin-right: -15px;
            li {
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
                position: relative;
                span{
                    position: absolute;
                    right: 15px;
                    top: 8px;
                    background-color: $ac_b;
                    width: 25px;
                    height: 25px;
                    color: $ac_white;
                    line-height: 21px;
                    text-align: center;
                    border-radius: $ac_radius;
                    cursor: pointer; 
                    @include css3-prefix ('transition', '#{$ac_3_ti}');
                    &:hover{
                        background-color: $ac_b !important;
                    }
                    &:before, &:after{
                        position: absolute;
                        content: '';
                        background-color: #fff;
                        margin: 0 auto;
                    }
                    &:before{
                        top: calc(50% - 0.5px);
                        left: 0;
                        right: 0;
                        width: 10px;
                        height: 2px;
                    }
                    &.collapsed{
                        background-color: $ac_a;
                        &:after{
                            top: calc(50% - 4.5px);
                            left: 0;
                            right: 0;
                            width: 2px;
                            height: 10px;
                        }
                    }
                }
                ul {
                    margin-left: 15px
                }
                a {
                    display: block;
                    padding: 12px 32px 12px 0;
                    &:hover, &.active{
                        color: $ac_a;
                    }
                }
            }
        }
    }

    .s-tags {
        ul{
            li {
                margin-top: 10px;
                margin-bottom: 10px;
                margin-right: 16px;
                &:last-child{
                    margin-right: 0;
                }
                a {
                    padding: 10px 20px;
                    background-color: $ac_a;
                    display: inline-block;
                    &:hover{
                        background-color: $ac_b;
                    }
                }
            }
        }
    }

    .menu1{
        .lpgap{
            &:nth-child(n+2) {
                article{
                    margin-top: 25px;
                    @media (min-width: 1200px){
                        margin-top: 50px;
                    }
                }
            }
        }
    }
}

.short-menu {
    display: none;
    padding: 8px 15px;
    background-color: $ac_a;
    border-radius: $ac_radius;
    line-height: 120%;
    color: $ac_white;
    font-size: 14px;
    font-weight: 500;
    font-family: $ac_ff_two;
    &:hover, &:focus, &:active{
        color: $ac_white;
        background-color: $ac_a;
    }
}

@media (max-width: 1024px){
    .menu1{
        position: fixed;
        z-index: 999;
        overflow-x: scroll;
        margin: 0;
        padding: 0;
        width: 300px;
        right: -320px;
        bottom: 0;
        top: 0;
        padding: 15px;
        background-color: $ac_white;
        transition: all .5s ease-in-out;
        @include css3-prefix('box-shadow', '#{$ac_bs_3}');
    }
    .short-menu {
        display: inline-block;
    }
    .short-menu1 {
        position: fixed;
        right: 253px;
        transform: rotate(-90deg);
        white-space: nowrap;
        top: 152px;
        border-radius: $ac_radius $ac_radius 0 0;
        z-index: 99;
    }

    .menu_overlap1 {
        position: relative;
        overflow: hidden;
        .nav-overlay {
            position: fixed;
            z-index: 99;
            background-color: rgba($ac_black, 0.7);
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}