.header-section{
	position: relative;
	z-index: 2;
	background-color: $ac_white;
	/* @include css3-prefix('box-shadow', '#{$ac_bs_5}'); */
	.container{
		max-width: 100%;
		padding: 0 245px 0 295px;
		@media(max-width:1600px){
	        padding: 0 130px 0 150px;
	    }
	    @media(max-width:1440px){
	        padding: 0 93px 0 155px;
	    }
		@media(max-width:1024px){
			max-width: 80%;
			padding: 0 15px;
		}
		@media(max-width:767px){
			max-width:100%;
		}
	}
	.-left{
		float: left;
	    width:136px;
	    position: relative;
	    @media (max-width: 1024px){
	    	width:97px;
	    }
		.-logo{
			overflow: hidden;
			position: absolute;
			top: -20px;
			left: 0;
			@media (max-width: 1024px){
				top: -20px;
				margin-left:10px;
			}
			a{
				display: block;
			}
		}
	}
	.-center{
		float: left;
		width:74%;
		align-items: center;
		@media(max-width:1600px){
			width: 72%;
		}
		@media (max-width: 1024px){
			width: 0%;
		}
	}
	.-right{
		float: left;
		width: 16%;
		@media(max-width:1600px){
			width:18%;
		}
		@media (max-width: 1024px){
			width: calc(100% - 110px);
		}
		/* .jfontsize {
			position: absolute;
		    top: -20px;
		    right: 15px;
		    border-radius: 0 0 5px 5px;
		    overflow: hidden;
		    border-left: 1px solid lighten($ac_black,70%);
		    border-right: 1px solid lighten($ac_black,70%);
		    border-bottom: 1px solid lighten($ac_black,70%);
		    a {
		    	font-size: 18px;
	    	    font-weight: 600;
	    	    font-family: 'Montserrat';
	    	    color: #000;
	    	    float: left;
	    	    background-color: #e9e9e9;
	    	    width: 32px;
	    	    height: 25px;
	    	    display: flex;
    	        align-items: center;
    	        justify-content: center;
	    	    &:hover{
	    	    	background-color: $ac_a;
	    	    	color: $ac_white;
	    	    }
	    	    + a {
	    	    	border-left: 1px solid lighten($ac_black,70%);
	    	    }
		    }
		    @media (max-width: 1024px) {
		    	display: none;
		    }
		} */
	}
	.-sort-menu{
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			a {
				color: $ac_black;
				&:hover {
					color: $ac_a;
				}
			}
		}

		.-smenu{
			margin-left:25px;
			@media (max-width: 1440px){
				margin-left: 15px;
			}
			.s-menu{
				position: relative;
				top: -2px;
				svg{
					width: 27px;
					height:12px;
					position: relative;
					top: -1px;
				}
				@media (min-width: 992px){
					margin-right: 5px;
				}
			}
		}

		.-ssearch {
			margin-left:15px;
			@media (max-width: 1440px){
				margin-left: 15px;
			}
			i{
				font-size: 24px;
			}
			.dropdown-menu {
				width: 320px;
				top: 35px !important;
				@media (max-width: 1024px){
					top:15px !important;
				}
				.dropdown-item {
					padding: 10px;
				}
				button {
					border: 1px solid $ac_a;
					background:$ac_a;
					box-shadow: none;
					border-radius: 0 $ac_radius $ac_radius 0;
					outline: 0;
					padding: 0 10px;
					.s-search {
						color: $ac_white;
						width:24px;
						height:24px;
					}
				}
			}
		}
		.-ssocial{
			margin-left:25px;
			@media (max-width: 1440px){
				margin-left: 15px;
			}
			ul{
				list-style-type: none;
				margin:0;
				li{
					display: inline-block;
					vertical-align: middle;
					color:$ac_m;
					margin-right: 0;
					a{
						width: 26px;
						height: 26px;
						line-height: 24px;
						font-size: 16px;
					}
					svg{
						width: 26px;
						height: 26px;
					}
					+ li{
						margin-left: 0;
					}
				}
			}
		}

		.-stel{
			@media (max-width: 1024px){
				margin-left: 15px;
			}
		}

		.-spay {
			margin-left: 20px;
			.ac-btn {
				min-height: 35px;
				font-size: 14px;
				padding: 0 20px;
				color: $ac_white;
				@media (max-width: 480px){
					padding: 0 10px;
				}
				&:focus, &:visited, &:active, &:not([disabled]):not(.disabled):active, .focus{
					font-size: 14px;
				}
			}
		}
	}
}

.full-menu {
	z-index: 999;
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	overflow: hidden;
	@include css3-prefix('transform', 'translate3d(0,0,0)');
  	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		background: linear-gradient(90deg, $ac_b 0%, $ac_b 100%);
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		border-radius: 100%;
		overflow: hidden;
		@include css3-prefix('transform', 'scale(0.04), translateY(9999px)');
	}
	.open & {
		top: 0;
		&:before {
		  	@include css3-prefix('animation', menu-animation 0.8s ease-out forwards);
		}
		.-content{
			@include css3-prefix('animation', menu-content 0.8s 0.8s ease-out forwards);
		}
	}
	.-content{
		opacity: 0;
		padding: 100px 0;
	    max-width: 1650px;
	    margin: 0 auto;
	}
	#menu-close {
		position: absolute;
	    right: 20px;
	    top: 20px;
	    border-radius: 35px;
	    background-color: $ac_white;
	    padding: 10px;
	    @include css3-prefix('box-shadow', '#{$ac_bs_5}');
	    &:hover{
	    	background-color: $ac_a;
	    	color: $ac_white;
	    }
	}

	.menu-nav {
		height: calc(100vh - 276px);
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			max-width: 400px;
			li {
				position: relative;
				padding: 5px 0;
				a {
					font-size: 30px;
					font-weight: 400;
					line-height: 130%;
					color: $ac_white;
					display: block;
					&:before {
					    position: absolute;
					    content: attr(data-content);
					    left: 0;
					    width: 0;
					    color: $ac_a;
					    white-space: nowrap;
					    overflow: hidden;
					    @include css3-prefix ('transition', '#{$ac_3_ti}');
					}
				}
				&.active{
					> a {
						color: $ac_a;
					}
				}
				&:hover{
					> a{
						color: $ac_b;						
						&:before{
							width: 100%;
						}
					}
				}
				ul {
					padding-top: 10px;
					li {
						a {
							&:hover{
								color: $ac_a !important;
							}
						}
						margin-left: 30px;
						&:before{
							position: absolute;
							content: '';
							top: 18px;
							left: -20px;
							width: 10px;
							height: 1px;
							background-color: $ac_white;
						}
						a {
							font-size: 18px;
						}
					}
				}
			}
		}

		.sub-menu1 {
			> a {
				position: relative;
			}
			span {
			    background-repeat: no-repeat;
			    background-position: center;
			    background-size: 24px;
			    height: 34px;
			    width: 34px;
			    display: inline-block;
			    position: absolute;
			    right: 4px;
			    top: 7px;
			    background-image: url(../images/icon/right.svg);
			    cursor: pointer;
			    border-radius: $ac_radius;
			    @include css3-prefix ('transition', '#{$ac_3_ti}');
			    transform: rotate(90deg);
			    &.collapsed{
			    	transform: rotate(0deg);
			    }
			}
		}
	}
}

@keyframes menu-content {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes menu-animation {
	0% {
		opacity: 0;
		transform: scale(0.04)
		translateY(300%);
	}
	40% {
		transform: scale(0.04)
		translateY(0);
		transition: ease-out;
	}
	40% {
		transform: scale(0.04)
		translateY(0);
	}
	60% {
		opacity: 1;
		transform: scale(0.02)
		translateY(0px);
	}
	61% {
		transform: scale(0.04);
	}
	99.9% {
		height: 0;
		padding-bottom: 100%;
		border-radius: 100%;
	}
	100% {
		transform: scale(2);
		height: 100%;
		padding-bottom: 0;
		border-radius: 0;
	}
}