
.home-banner{
    position: relative;
    z-index: 1;
    background-color: $ac_a;
    @media (min-width: 1025px){
        margin-top: 102px;
    }
    .thumbnail-container {
        padding-bottom: 44.38%;
    }

    .-banner-item {
        @media (min-width: 1024px){
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 20px;
        }
        @media (max-width: 992px){
            background: linear-gradient(90deg, $ac_b 0%, $ac_a 100%);
            padding: 20px 0;
        }
        @media (min-width: 1024px){
            .container-w{
                max-width: 1185px;
                position: relative;
                &:before{
                    position: absolute;
                    content: '';
                    top: -20px;
                    left: -50%;
                    bottom: -20px;
                    right: 0;
                    background: linear-gradient(90deg, $ac_b 0%, $ac_a 100%);
                }
            }
        }
        .-items {
            cursor: pointer;
            .nqtitle {
                font-size: 24px;
            }
        }
    }
}
