.inner-banner{
    position: relative;
    z-index: 1;
    background-color: rgba($ac_black, 0.05);

    @media (min-width: 1025px){
        margin-top: 104px;
    }

    .ib-fill{
        position: relative;
        z-index: 1;
        background-color: rgba($ac_black,0.1);
        background-image: url('#{$ac-image}default-img.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        min-height: 245px;
        filter: grayscale(100%);
        @media (max-width: 992px){
            min-height: 150px;
        }
        &:before{
            position: absolute;
            content: '';
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(#9c9c9c, 0.7);
        }
    }

    .ib-control{
        &.left, &.right {
            position: absolute;
            z-index: 2;
            top: calc(50% - 25px);
            width: 50px;
            height: 50px;
            border-radius: 50px;
            padding: 0;
        }
        &.left{
            left: 40px;
        }
        &.right{
            right: 40px;
        }
        @media (max-width: 767px) {
            display: none;
        }
    }

    .ib-breadcrumb {
        position: absolute;
        bottom: 0;
    }

    .ib-caption{
        position: absolute;
        z-index: 1;
        bottom: 0;
        max-width: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;

        .nqtitle {
            text-shadow: 5px 1px 2px rgba($ac_black, 0.22);
        }

        @media (min-width: 1024px) {
            .gap {
                min-height: 245px;
                display: table;
                .gap-c {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }

        @media (max-width: 992px) {
            position: relative;
            bottom: 0;
            padding: 15px 0;
            //background-color: rgba($ac_a, 1);
            background: linear-gradient(90deg, $ac_b 0%, $ac_a 100%);
        }
    }
}

.share-func {
    li {
        margin-right: 20px;
        &:last-child{
            margin-right: 0;
        }
        svg {
            width: 20px;
            height: 20px;
            position: relative;
            top: -2px;
        }
        .a2a_kit .a2a_svg{
            display: none !important;
        }
        .fa {
            width: 25px;
            height: 25px;
            background-color: rgba($ac_a, 1);
            color: $ac_white;
            align-items: center;
            display: flex;
            justify-content: center;
            margin-right: 10px;
            border-radius: 5px;
            font-size: 14px;
        }
    }
    .dropdown-menu {
        transform: translate3d(0px, 23px, 0px) !important;
    }
}