/* - - - - - - - - - - - - -
    Related File Name: No 
- - - - - - - - - - - - - */

/* Cursor S */
    .#{$ccss}-cursor-auto {
   		cursor: auto;
    }

    .#{$ccss}-cursor-default {
   		cursor: default;
    }

    .#{$ccss}-cursor-none {
   		cursor: none;
    }

    .#{$ccss}-cursor-context-menu {
   		cursor: context-menu;
    }

    .#{$ccss}-cursor-help {
   		cursor: help;
    }

    .#{$ccss}-cursor-pointer {
   		cursor: pointer;
    }

    .#{$ccss}-cursor-progress {
   		cursor: progress;
    }

    .#{$ccss}-cursor-wait {
   		cursor: wait;
    }

    .#{$ccss}-cursor-cell {
   		cursor: cell;
    }

    .#{$ccss}-cursor-crosshair {
   		cursor: crosshair;
    }

    .#{$ccss}-cursor-text {
   		cursor: text;
    }

    .#{$ccss}-cursor-vertical-text {
   		cursor: vertical-text;
    }

    .#{$ccss}-cursor-alias {
   		cursor: alias;
    }

    .#{$ccss}-cursor-copy {
   		cursor: copy;
    }

    .#{$ccss}-cursor-move {
   		cursor: move;
    }

    .#{$ccss}-cursor-no-drop {
   		cursor: no-drop;
    }

    .#{$ccss}-cursor-not-allowed {
   		cursor: not-allowed;
    }

    .#{$ccss}-cursor-e-resize {
   		cursor: e-resize;
    }

    .#{$ccss}-cursor-n-resize {
   		cursor: n-resize;
    }

    .#{$ccss}-cursor-ne-resize {
   		cursor: ne-resize;
    }

    .#{$ccss}-cursor-nw-resize {
   		cursor: nw-resize;
    }

    .#{$ccss}-cursor-s-resize {
   		cursor: s-resize;
    }

    .#{$ccss}-cursor-se-resize {
   		cursor: se-resize;
    }

    .#{$ccss}-cursor-sw-resize {
   		cursor: sw-resize;
    }

    .#{$ccss}-cursor-w-resize {
   		cursor: w-resize;
    }

    .#{$ccss}-cursor-ew-resize {
   		cursor: ew-resize;
    }

    .#{$ccss}-cursor-ns-resize {
   		cursor: ns-resize;
    }

    .#{$ccss}-cursor-nesw-resize {
   		cursor: nesw-resize;
    }

    .#{$ccss}-cursor-nwse-resize {
   		cursor: nwse-resize;
    }

    .#{$ccss}-cursor-col-resize {
   		cursor: col-resize;
    }

    .#{$ccss}-cursor-row-resize {
   		cursor: row-resize;
    }

    .#{$ccss}-cursor-all-scroll {
   		cursor: all-scroll;
    }

    .#{$ccss}-cursor-zoom-in {
   		cursor: zoom-in;
    }

    .#{$ccss}-cursor-zoom-out {
   		cursor: zoom-out;
    }

    .#{$ccss}-cursor-grab {
   		cursor: grab;
    }

    .#{$ccss}-cursor-grabbing {
   		cursor: grabbing;
    }
/* Cursor E */