/* - - - - - - - - - - - - -
    Related File Name: ..\utilities\_ccss-utilities-setting.scss
- - - - - - - - - - - - - */

/* Headings S */
    .#{$ccss}-h-1 {
    	font-size: #{$ccssHeadings1}px;
    }

    .#{$ccss}-h-2 {
    	font-size: #{$ccssHeadings2}px;
    }

    .#{$ccss}-h-3 {
    	font-size: #{$ccssHeadings3}px;
    }

    .#{$ccss}-h-4 {
    	font-size: #{$ccssHeadings4}px;
    }

    .#{$ccss}-h-5 {
    	font-size: #{$ccssHeadings5}px;
    }

    .#{$ccss}-h-6 {
    	font-size: #{$ccssHeadings6}px;
    }
/* Headings E */