$ac: 'ac';

$ac_ff_one:						'Libre Franklin', sans-serif;
$ac_ff_two:						'Roboto', sans-serif;
$ac_ff_three:					'';

$ac_fs_base: 					15px;
$ac_fs_xs: 						12px;
$ac_fs_sm: 						14px;
$ac_fs_md: 						16px;
$ac_fs_lg: 						18px;
$ac_fs_xl: 						20px;
$ac_fs_2xl: 					22px;
$ac_fs_3xl: 					24px;
$ac_fs_4xl: 					28px;
$ac_fs_5xl: 					32px;
$ac_fs_6xl: 					36px;
$ac_fs_7xl: 					50px;


$ac_fs_d_50:					50px;
$ac_fs_d_55:					55px;
$ac_fs_d_60:					60px;
$ac_fs_d_65:					65px;
$ac_fs_d_70:					70px;
$ac_fs_d_75:					75px;
$ac_fs_d_80:					80px;
$ac_fs_d_85:					85px;
$ac_fs_d_90:					90px;
$ac_fs_d_95:					95px;
$ac_fs_d_100:					100px;

$ac_lh_base:					150%;

$ac_fw_t:						100;
$ac_fw_el:						200;
$ac_fw_l:						300;
$ac_fw_r:						400;
$ac_fw_m:						500;
$ac_fw_sb:						600;
$ac_fw_b:						700;
$ac_fw_eb:						800;
$ac_fw_bl:						900;

$ac_fs_n: 						normal;
$ac_fs_i: 						italic;
$ac_fs_o: 						oblique;
$ac_fs_ini:						initial;
$ac_fs_inh:						inherit;