/* Center Images Thumbnail S */
    body {
        .thumbnail-container, .thumbnail_container {
            padding-bottom: 100%;
            background-color: rgba($ac_black, 0.03);
            overflow: hidden;
            position: relative;
            width: 100%;
            @include css3-prefix('border-radius', '0');
        }
        .thumbnail {
            margin: 0px;
            display: block;
            padding: 0px;
            border: none;
            height: 100%;
            width: 100%;
            position: absolute;
            background: none;
            a, img{
                display: block;
                height: auto;
                max-height: 100%;
                max-width: 100%;
                width: auto;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                position: absolute;
            }
        }
        .object-fit {
            img {                
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
    }
/* Center Images Thumbnail S */